/* $primary_color: white;
$secondary_color: pink;
$total_height: 300px;
$total_width: 800px; */
.outer_project {
    text-align: center;
    float: left;
    position: relative;
    display: grid;
    grid-template-columns: 250px 250px;
    height: 300px;
    width: 650px;
    background: white;
    border: 5px;
    border-style: solid;
    border-color: white;
    margin-bottom: 5px;
    top: 1000px;
}
.hide_project {
    display: none;
}
.show_project {
    display: inherit;
    height: inherit;
    padding: 0px 10px 0 10px;
    animation-name: information;
    animation-duration: 1s;
    background-color: white;
}
.inner_container {
    background: white;
    height: 300px;
    width: 300px;
}
.link_button {
    border: none;
    position: relative;
    bottom: 40px;
    left: 70px;
}
img {
    height: 100%;
    width: 300px;
}
.img_container {
    height: 100%;
    max-width: 250px;
    background: white;
}
.inner_info {
    background: white;
    /* -webkit-clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%); */
}

@keyframes information {
    0% {opacity: 0;}
    50% {opacity: .4;}
    75% {opacity: .7;}
    100% {opacity: 1;}
  }

  @media only screen and (min-width: 900px){
    img {
        height: 260px;
        width: 240px;
    }
    .outer_project {
        width: 500px;
        margin-left: 10px;
    }
  }