$primary_color: white;
$secondary_color: pink;
$total_height: 300px;
$total_width: 800px;
.outer_project {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    height: $total_height;
    max-width: $total_width;
    background: gray;
    border: 5px;
    border-style: solid;
    border-color: bisque;
    margin-bottom: 5px;

    .show_project {
        display: inherit;
        height: $total_height;
        animation-name: information;
        width: 100%;
        animation-duration: 1s;
        background-color: yellow;
    }
    .hide_project {
        display: none;
    }
}
.inner_container {
    background: white;
    height: $total_height;
    width: 300px;
    .img_container {
        height: 100%;
        background: $secondary_color;
    }
    .link_button {
        border: none;
        position: relative;
        bottom: 40px;
        left: 20px;
    }
}
.inner_info {
    height: $total_height;
    background-image: $primary_color;
    padding: 0 50px 0 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
}

@keyframes information {
    0% {opacity: 0;}
    50% {opacity: .4;}
    75% {opacity: .7;}
    100% {opacity: 1;}
  }