.panel_show {
    position: absolute;
    right: 50px;
    width: 900px;
    height: 250px;
    color: white;
    background: inherit;
    top: 314px;
    float: left;
    right: 244px;
    animation: panel 5s;
    
}
.panel_hide {
    position: relative;
    right: -1000;
    opacity: 0;
    pointer-events: none;
}

@keyFrames panel {

    from {right: -1000px}
}

