.panel_show {
    position: absolute;
    right: 50px;
    width: 900px;
    height: 250px;
    color: white;
    background: inherit;
    top: 314px;
    float: left;
    right: 257px;
    animation: panel 5s;
    
}
.panel_hide {
    display: none;
}

@keyFrames panel {

    from {right: -1000px}
}

