.project_outer {
    position: relative;
    height: 465px;
    width: 100%;
    font: inherit;
    color: inherit;
    font-size: 13px;
    margin: 0px;
}
.wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-right: 10px;
}
.img_container {display: inline-block;
    max-width: 600px;
    height: 100%;
    float: left;
}
.info_container {
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 35px;
    width: 100%;
    /* color: #F4EADE;
    background:#2C3539; */
    opacity: 1;
    transition: .5s;
    margin: 0px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.title {
    float: left;
    text-indent: 5px;
    text-align: left;
    width: 200px;
    margin-left: 85px;
}
.description {
    font-size: 20px;
    color: black;
    max-width: 800px;
    height: 700pc;
    position: relative;
}
.github {
    float: right;
    text-indent: -5px;
}
/* .a {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0px;
} */
  
 

