.project_outer {
    position: relative;
    height: 100%;
    max-width: 300px;
    font: inherit;
    color: inherit;
    font-size: 13px;
}
.wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    margin-left: 85px;
    /* width: 100%;
    margin-right: 10px; */
}
.img_container {
    display: inline-block;
    max-width: 600px;
    height: 100%;
    float: left;
}
.info_container {
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 35px;
    width: 100%;
    background: #F4EADE;
    color:#2C3539;
    opacity: 1;
    transition: .5s;
    /* left: 100px; */
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.title {
    float: left;
    text-indent: 5px;
    text-align: left;
    width: 200px;   
    margin-left: 5px;
}
.description {
    position: relative;
    font-size: 20px;
    color: inherit;
    max-width: 800px;
    height: 400px;

}
.github {
    float: right;
    text-indent: -5px;
}
.cc_simulator {
    height: 250px;
    max-width: 300px;
}
/* .a {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0px;
} */
  
 

