.about_show {
    position: absolute;
    float: right;
    background: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    height: 300px;
    width: 700px;
    right: -45px;
    top: 0px;
    margin-top: 30px;
    animation: about_show 3s;
}



.about_body {
    position: absolute;
    bottom: 25px;
    width: 45%;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #2F496E;
    
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    

}
.about_skills {
    
    display: inline-block;
    font-family: inherit;
    position: absolute;
    width: 30%;
    margin-left: 20px;
    bottom: 25px;
    right: 20%;
    color: #2F496E;
    font-family: 'Open Sans', sans-serif;

}
/* FFEC5C */

.skill_icon {
    height: 21px;
    width: 21px;
    color: inherit;
}

@keyframes about_show {
    from { right: -1000px}
    /* to { left: 0px} */
  }

  /* @media only screen and (max-width: 600px) {
    .about_show {
        background: inherit;
        position: relative;
        top: -275px;
        left: 10px;
    }
    .about_body {
        font-size: 10px;
        width: 100px
    }
    .about_skills {
        font-size: 10px;
        font-size: 10px;
        position: relative;
        top: -30px
    }
    .skill_icon {
        height: 15px;
        width: 15px;
        color: inherit;
    }

} */