
body {
    color: #F4EADE;
    background: #2f496e;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Anton', sans-serif; */
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    width: 25px;
}
.page_wrapper {
    margin-right: 20px;
    margin-left: 20px;
}
/* .projectTitle {
    background: inherit;
    text-align: center;
    color: inherit;
} */

/* .name_hide {
    position: absolute;
    opacity: 0px;
} */

.slide-enter {
    left: 100px
}

.slide-enter-active {
    left: 0;
    transition: 1s ease-in all;
}