
body {
    background: whitesmoke;
    color: rgb(53, 53, 53);
    /* font-family: "Open Sans"; */
    font-family: 'Anton', sans-serif;
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    width: 25px;
}
.page_wrapper {
    margin-right: 20px;
    margin-left: 20px;
}
/* .projectTitle {
    background: inherit;
    text-align: center;
    color: inherit;
} */

/* .name_hide {
    position: absolute;
    opacity: 0px;
} */
