.footer {
    position: fixed;
    display: inline;
    margin: auto;
    text-align: center;
    font-size: 18px;
    /* top: 50px; */
    height: 100px;
    bottom: 0px;
}
.offset {
    position: relative;
    right: 0px;
    padding-right: 20px;
}
@media only screen and (max-width: 750px){

}
