.footer {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 18px;
    top: 50px;
    
}

@media only screen and (max-width: 750px){
    .footer {
        margin-left: 50px;
    }
}
