.blurb {
    position: relative;
    height: 500px;
    width: 100%;
    z-index: 10;
}

.blurb_title {
    opacity: .3;
    height: 800px;
    background-image: url("../Landing/MJM.JPG");
    background-size: 100% 175%;
    background-repeat: no-repeat;
    z-index: 20;

}
.blurb_two {
    position: relative;
    height: 500px;
    width: 100%;
    background: white;
    z-index: 10;
}
.blurb_connect {
    height: 250px;
}
.blurb_inq {
    background:#2C3539;

}
.project {
    height: 300px;
}

.blurb_name {
    position: relative;
    margin: 0px;
    font-size: 100px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
    width: 80px;
    height: 110px;
    color: inherit; 
    float: left;
    top: 0px;
    opacity: 1;
}
.blurb_about {
    position: relative;
    height: 650px;
}
.blurb_project {
    height: 500px;
}
.blurb_resume {
    height: 100%;
    width: 100%;
    z-index: 20;
}
.blurb_footer {
    position: sticky;
    height: 125px;
}
.dark {
    color: #F4EADE;
    background: #2C3539;
}
.light {
    color: #2C3539;
    background: #F4EADE;
}

@media only screen and (max-width: 750px) {
    .blurb_about {
        z-index: 40; 
        background: #2C3539;
    }
}