.first_name_wrapper, .last_name_wrapper {
    width: 100%;
    position: relative;
    font-size: 110px;
    height: 115px;
    font-family: 'Anton', sans-serif;
   
}
/* .last_name_wrapper {
    width: 100%;
    position: relative;
    font-size: 110px;
    float: right;
    font-family: 'Anton', sans-serif;
    height: 143px;
    

} */
.name_ {
    position: relative; 
    letter-spacing: 15px;
    float: left;
    top: 0px;
    opacity: 1;

    height: inherit;
    color: inherit;

}
/* .name_hide {
    opacity: 0;
    animation: out 2s linear;
} */

@media only screen and (max-width: 600px) {
  
    .name_ {
        color: #2f496e;
    }
}