.name_wrapper {
    width: 100%;
    position: relative;
    font-size: 110px;
    top: 0px;
    /* height: 115px; */
    height: 100%;
    font-family: 'Anton', sans-serif;
   
}
 .name_container {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 115px;
    letter-spacing: 10px;
}
.last_name_container {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 115px;
    letter-spacing: 15px;
    top: -50px;
}

.name_ {
    position: relative;
    top: 0px;
    height: inherit;
    float: left;
    text-align: justify;
    height: 115px;
}

 .name_s {
    position: relative;
    height: inherit;
}

.hide {
    animation-name: hide;
    animation-duration: 4s;
    animation-delay: 2s;
}
@keyframes hide {
    from {color: inherit;}
    to {background-color: #2f496e;}
}
/* 
@media only screen and (max-width: 700px) {
  
    
    .name_s {
        color: #2f496e;
    }
} */