.name_wrapper {
    max-width: 100%;
    position: absolute;
    font-size: 65px;
    top: 85px;
    margin-left: 3px;
    /* height: 100%; */
    font-family: 'Anton', sans-serif;
}
 .name_container {
    position: relative;
    display: block;
    text-align: left;
    max-width: 100%;
    height: 80px;
    letter-spacing: 0px;
}
.first_name, .last_name {
    position: relative;
    height: 100%;
    float: left;
    text-align: justify;
    color: #2C3539;
    opacity: .5;
    z-index: 100;
}
.first_name {
    animation: first_name 1s;
}
.last_name {
    animation: last_name 2s;
}
.initials_container {
    position: fixed;
    display: block;
    z-index: 30;
    animation: initials 2s;
}
.name_duplicate {
    opacity: 1;
    position: relative; 
    float: none;
    font-size: 65px;
    display: block;
    height: 80px;
    color: #2C3539;
    z-index: 100;
}

@media only screen and (min-width: 750px){
    .name_wrapper {
        top: 245px;
        font-size: 150px;
        margin-left: 10px;
        letter-spacing: 10px;
    }
    .name_duplicate {
        height: 150px;
        font-size: 150px;
    }
    .name_container {
        height: 150px;
    }
}
@media only screen and (min-width: 950px){
    .name_wrapper {
        margin-left: 50px;
    }
}
@keyframes first_name {
    0% {
        right: -1500px;
        opacity: .2;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 1;
        right: 0px;
    }
  }
@keyframes last_name {
    0% {
        right: 1500px;
        opacity: .1;
    }
    50% {
        opacity: .4;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
        right: 0px;
    }   
}
@keyframes initials {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} 
