.connection {
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 100%;
    bottom: 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: inherit;
}

#inq_name, #inq_email {
    position: relative;
    display: inherit;
    text-indent: 5px;
    left: 40px;
    width: 50%;
    height: 25px;
    border: none;
    font-family: inherit;
    margin-top: 10px;
    font-size: inherit;
    color: #FFEC5C;
    background: #2f496e;
    padding: 0px;
}

#inq_subject {
    position: relative;
    display: inline-block;
    text-indent: 5px;
    left: 40px;
    margin-top: 10px;
    margin-right: 0px;
    border: none;
    height: 100px;
    width: 50%;
    color: inherit;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    color: #FFEC5C;
    background: #2f496e;
    padding: 0px;
}

.submit {
    text-indent: 5px;
    position: relative;
    display: inherit;
    left: 40px;
    border: none;
    color: inherit;
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px;
    width: 50px;
    text-align: left;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    color: #2f496e;
    background: #FFEC5C;
}

::placeholder {
    color: #FFEC5C;
    font-size: 14px;
}

.connect_text_box{   
    height: 129px;
    position: relative;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.connectATag {
    height: 22px;
    width: 22px;
    float: left;
    margin-right: 20px;
    color: #2f496e;   
}
.socialLinks {
    position: relative;
    display: inline-block;
    left: 37px;
    top: 0px;
}

@media only screen and (max-width: 600px) {
    .connect_show{
        position: relative;
        top: -125px;
        right: 0px;
    }
    #inq_subject {
        width: 260px;
    }
}



