
.about_body {
    max-width: 750px;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #F4EADE;
    cursor: pointer !important;
}
.about_skills {
    position: relative;
    max-width: 750px;
    text-align: center;
}
.icon__container {
    margin: 50px 0 100px;
}
.skill_icon {
    height: 21px;
    width: 21px;
    color: inherit;
    float: left;
}
.icon {
    font-size: 40px;
    margin-left: 10px;
    color: white;
}
.about_tech {
    border-bottom: 2px solid #F4EADE;
    width: 180px;
    margin: auto;
    margin-bottom: 25px;
}
.about_title {
    font-size: 45px;
    border-bottom: 5px solid #F4EADE;
    margin-bottom: 50px;
}
.about__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tst-link {
    color: #00a25a !important;
}
.nu-link {
    color: cornflowerblue !important;
}
@media only screen and (max-width: 700px){
.icon {
    font-size: 22px;
    margin-left: 2px;
}
.about_body {
    text-align: left;
    padding-left: 20px;
}

}